@import url('https://cdn.jsdelivr.net/gh/innks/NanumSquareRound@master/nanumsquareround.css');

* {
  box-sizing: border-box;
  font-family: NanumSquareRound, sans-serif;
}


body {
  margin: 0;
  color: #fff;
  height: 100%;
  background: #36393f;
}
